body {
  margin: 0;
  padding: 0;
}

#header-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 30px;
  gap: 10px;
}

#btn {
  background-color: #4972e8;
}

#img-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #4972e8;
}

#arrow {
  margin-top: 4px;
}
