@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  /* --sidebar-width: 250px; */
}

#completeProject-main {
  padding: 1.5rem;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

#main-content p {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 10px;
}

#main-content {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  padding-bottom: 45px;
  border-radius: 8px;
  overflow: hidden;
}

#table-content {
  width: 1005;
  overflow-x: auto;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

@media (max-width: 992px) {
  main {
    margin-left: 0;
    width: 100%;
  }

  #main-content {
    max-width: 100%;
    padding: 15px;
  }

  #main-content p {
    font-size: 20px;
  }

  table {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  #main-content p {
    font-size: 18px;
    text-align: center;
  }

  th,
  td {
    padding: 10px;
    font-size: 14px;
  }

  button {
    padding: 5px 10px;
    font-size: 13px;
  }

  table {
    min-width: 500px;
  }

  #table-content {
    overflow-x: scroll;
  }
}
