@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");



.containerMember, .formContainer{
  padding: 1.5rem;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  
  
}

.containerMember h1{
  color: #5A5C69;
  margin-bottom: 2rem;
  
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.07);
  padding: 32px;
  
}

.card h2 {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 22px;
  color: #222;
}

#tram-member-table {
  border-collapse: collapse;
  background: #fff;
}

th {
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
}


th {
  background: #f3f6fa;
  font-weight: 700;
}

td{
  font-weight: 600;
  font-size: 14px;
  padding: 12px 10px;
  text-align: left;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

tr:nth-child(even) {
  background: #f9f9fb;
}

.status-badge {
      display: inline-block;
      padding: 4px 16px;
      border-radius: 6px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      width: 90px;
    }
.status-active {
      background: #22c55e;
    }
.status-inactive {
      background: #ef4444;
    }

    /* form css code */

 


    .team-form {
      margin-top: 0;
      margin-left: 3rem;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    .team-form-row {
      display: flex;
      align-items: center;
      gap: 32px;
    }
    .team-form-row label {
      flex: 0 0 180px;
      font-size: 18px;
      color: #222;
    }
    .team-form-row input {
      flex: 1;
      padding: 12px 14px;
      font-size: 16px;
      border: 1.5px solid #e0e7ef;
      border-radius: 7px;
      background: #fafbfc;
      outline: none;
      transition: border 0.2s;
      max-width: 900px;
    }
    .team-form-row input:focus {
      border: 1.5px solid #2d4fd7;
      background: #fff;
    }
    .team-form-row:last-child {
      justify-content: flex-end;
      
    }
    .add-btn {
      background: #4972E8;
      color: #FFFFFF;
      border: none;
      border-radius: 6px;
      padding: 8px 32px;
      font-size: 13px;
      cursor: pointer;
      transition: background 0.2s;
      font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;

    }
    .add-btn:hover {
      background: #1e357a;
    }