#totalSales-main-content {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

#totalSales-main {
  padding: 40px;
}

#stl-table thead th {
  color: #000000;
  font-weight: 700;
}

#totalSales-heading-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

#totalSales-heading-btn button {
  border: none;
  outline: none;
  background-color: #4972e8;
  color: #ffffff;
  font-size: 13px;
  width: 108px;
  height: 33px;
  border-radius: 4px;
  margin-bottom: 15px;
}
