#totalSales-main-content {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

#totalSales-main {
  padding: 40px;
}

#stl-table thead th{
color: #000000;
font-weight: 700;
}