<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

=======
>>>>>>> b7fdbe580138cd441b96a28790526d09ac296da1
:root {
  --sidebar-width: 280px;
}

/* Main container */
#untouchedData-container {
  padding: 1.5rem;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  background-color: #fff;
  transition: margin-left 0.3s ease, width 0.3s ease;
<<<<<<< HEAD
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
=======
>>>>>>> b7fdbe580138cd441b96a28790526d09ac296da1
}

/* Mobile view */
@media (max-width: 1024px) {
  #untouchedData-container {
    margin-left: 0;
    width: 100%;
  }
}

<<<<<<< HEAD
img {
  background: none;
}
=======
img{
    background: none;
}
>>>>>>> b7fdbe580138cd441b96a28790526d09ac296da1
