:root {
  --bg: #f5f7fb;
  --card: #ffffff;
  --muted: #6b7280;
  --accent: #1e90ff;
  --radius: 12px;
  --shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  --sidebar-width: 280px;
}

#employee-payout {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

#page_heading {
  /* text-align: center; */
  /* text-decoration: underline; */
  margin-bottom: 30px;
  margin-left: 32px;
  font-size: 50px;
}

#payout_container {
  display: flex;
  box-sizing: border-box;
  max-width: 95vw;
  height: auto;
  margin: 0 auto;
  gap: 30px;
  padding: 30px;
}
#left_box {
  width: 60vw;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

#right_box h2,
#left_box h2 {
  font-size: 40px;
}

#left_box,
#right_box {
  text-align: center;
}

/*right side box edit*/
#right_box {
  width: 40vw;
  /* border: 1px solid black; */
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#right_box #rb-row1,
#right_box #rb-row2 {
  width: 85%;
  margin: 0 auto; /* <-- centers the child box */
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(200, 191, 191, 0.2);
  border-radius: var(--radius);
  border: 2px rgb(109, 104, 104, 0.35) solid;
  font-size: 24px;
}

#payout_form {
  margin-bottom: 10px;
  margin-top: 40px;
}

#payout_form #field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 30px 0 30px;
  gap: 20px;
  margin-bottom: 30px;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 10px;
  box-shadow: 0 4px 10px rgba(200, 191, 191, 0.2);
  border-radius: var(--radius);
  border: 2px rgb(109, 104, 104, 0.35) solid;
  font-size: 24px;
}

#department {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 30px 0 30px;
  margin-bottom: 80px;
}

#department label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  text-align: left;
  padding: 2px;
}
#department select {
  display: block;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  height: 52px;
  box-shadow: 0 4px 10px rgba(200, 191, 191, 0.2);
  border: 2px rgb(109, 104, 104, 0.35) solid;
  border-radius: var(--radius);
}
#payBtn {
  margin-bottom: 20px;
  background-color: #4972e8;
  font-size: 26px;
  border: none;
  border-radius: var(--radius);
  color: white;
  padding: 10px 40px;
}
#right_box select {
  border: none;
}

@media (max-width: 900px) {
  #left_box,
  #right_box {
    width: 100%;
  }
  #right_box {
    height: 400px;
  }
  #payout_form #field {
    display: grid;
    grid-template-columns: 1fr;
  }
  #department {
    display: grid;
    grid-template-columns: 1fr;
  }
  #payout_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%; /* fill the grid cell */
    min-width: 0; /* allow the input to shrink below its intrinsic size */
    box-sizing: border-box; /* include padding/border in width calculations */
  }
}
