.reports-container {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  justify-content: center;
  align-items: center;
}

.reports-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 25px;
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.filter-item select {
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.kpi-cards {
  display: grid;
  gap: 20px;
  grid-template-columns:2fr 2fr;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.kpi-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  border-radius: 10px;
  width: 240px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.kpi-card.green {
  background-color: #a5f3a1;
  color: #166534;
}

.kpi-card.orange {
  background-color: #fed7aa;
  color: #9a3412;
}

.kpi-card.purple {
  background-color: #e9d5ff;
  color: #6b21a8;
}

.kpi-card.pink {
  background-color: #fbcfe8;
  color: #9d174d;
}

.kpi-title {
  font-size: 13px;
  text-transform: uppercase;
}

/* .freports-tables {
 width:250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.ftable-box {
width:25%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
} */

.ftable-box h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  font-size: 14px;
}

th, td {
  /* padding: 8px 12px; */
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: 600;
}

@media (max-width: 900px) {
  .freports-tables {
    grid-template-columns: 1fr;
  }

  .kpi-cards {
    justify-content: center;
  }
}
