:root {
  --sidebar-width: 280px;
}

/* MAIN PAGE CONTAINER */
#reports-container {
  width: 100%;
  padding: 50px;
  background: #ffffff;
  font-family: Arial, sans-serif;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

/* FILTERS */
#filters-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 30px;
}

#select-year,
#select-month {
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-left: 10px;
}

#report-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#report-card {
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex: 1 1 230px;
  justify-content: space-between;
  align-items: center;
}

#top-box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
  align-items: center;
  flex-direction: row;
}
#top-team-box,
#top-services-box,
#top-sales-box {
  width: 100%;
  margin: 0;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

/* TABLE BOXES */
#monthly-box {
  width: 100%;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

#monthly-table {
  width: 100%;
}
#top-team-title,
#top-services-title,
#monthly-title,
#top-sales-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

/* TABLE STYLE */
#top-team-table,
#top-services-table,
#top-sales-table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 10px; */
}
