:root {
  --sidebar-width: 280px;
}

/* Main container */
#report-container {
  padding: 1.5rem;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  background-color: #fff;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.report-thead th{
  color: #000000;
}

/* Mobile view */
@media (max-width: 1024px) {
  #report-container {
    margin-left: 0;
    width: 100%;
  }
}
