#sales-report-container {
  padding: 1.5rem;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

#sales-report-heading {
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #6c757d;
}

#sales-report-table-container {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
}

#sales-report-table th {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #000000;
}

#sales-report-table td {
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}
