.viewbtn {
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  width: 90px;
  height: 32px;            
  line-height: 32px;       
  background-color: #2d6cdf; 
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;  
}